<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="../static/css.css" rel="stylesheet">
    <title>Результат</title>
</head>
<body>
    <div class="header">
        результат
    </div>
    <div class="background-blobs">
        <div class="blobbluee"></div>
        <!--<div class="blobgreen"></div>-->
        <div class="blobpurple"></div>
        <!--<div class="blobblue"></div>-->
        <div class="blobgreenn"></div>
    </div>
    <h1>Привет, {{ name }}!</h1>
    <h2>Ты — Интроверт</h2>
    <p class="p">{{ description }}</p>
    <a href="/">Пройти снова</a>

</body>
</html>
